<div class="colums">
    <div class="column is-three-fifths is-offset-one-fifth">
        <div class="column">
            <h1 class="title has-text-justified">
                Contact Request Sent
            </h1>

            <p>
                {{contentRead}}
            </p>


        </div>
    </div>
</div>