<div class="hero-body is-dark is-bold">
  <div class="container has-text-centered">
    <h1 class="title is-size-1">
      < Vida Rashidi </h1>
        <h2>
          My portfolio website />
        </h2>
  </div>
</div>